africastalking==1.2.5
asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
contextlib2==21.6.0
Django==4.2.4
django-filter==23.2
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.8.0
Markdown==3.4.4
packaging==23.1
pytz==2023.3
requests==2.31.0
schema==0.7.5
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
zipp==3.16.2
